<nav class="bg-primary navbar navbar-dark navbar-expand-md px-4">
  <div class="container-fluid">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="my-2 navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li *ngFor="let navigationBarItem of navigationBarItems" class="nav-item">
          <a aria-current="page" class="me-4 ms-0 my-0 nav-link text-white" href="#">{{navigationBarItem}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
