<div class="border border-white border-2">
  <input class="border border-secondary border-2 form-control-plaintext px-3 rounded" readonly value="{{unsolvedOperation}}">
</div>
<div>
  <button (click)="concatenateInUnsolvedOperation('9')" class="border border-white border-2 btn btn-light col-3">9</button>
  <button (click)="concatenateInUnsolvedOperation('8')" class="border border-white border-2 btn btn-light col-3">8</button>
  <button (click)="concatenateInUnsolvedOperation('7')" class="border border-white border-2 btn btn-light col-3">7</button>
  <button (click)="concatenateInUnsolvedOperation('/')" class="border border-white border-2 btn btn-secondary col-3">/</button>
</div>
<div>
  <button (click)="concatenateInUnsolvedOperation('6')" class="border border-white border-2 btn btn-light col-3">6</button>
  <button (click)="concatenateInUnsolvedOperation('5')" class="border border-white border-2 btn btn-light col-3">5</button>
  <button (click)="concatenateInUnsolvedOperation('4')" class="border border-white border-2 btn btn-light col-3">4</button>
  <button (click)="concatenateInUnsolvedOperation('*')" class="border border-white border-2 btn btn-secondary col-3">*</button>
</div>
<div>
  <button (click)="concatenateInUnsolvedOperation('3')" class="border border-white border-2 btn btn-light col-3">3</button>
  <button (click)="concatenateInUnsolvedOperation('2')" class="border border-white border-2 btn btn-light col-3">2</button>
  <button (click)="concatenateInUnsolvedOperation('1')" class="border border-white border-2 btn btn-light col-3">1</button>
  <button (click)="concatenateInUnsolvedOperation('-')" class="border border-white border-2 btn btn-secondary col-3">-</button>
</div>
<div>
  <button (click)="concatenateInUnsolvedOperation('0')" class="border border-white border-2 btn btn-light col-3">0</button>
  <button (click)="concatenateInUnsolvedOperation('.')" class="border border-white border-2 btn btn-light col-3">.</button>
  <button (click)="emitSolvedOperation()" class="border border-white border-2 btn btn-primary col-3">=</button>
  <button (click)="concatenateInUnsolvedOperation('+')" class="border border-white border-2 btn btn-secondary col-3">+</button>
</div>
